h1, p, img  {
    display: block;
    margin: 1em auto;
    text-align: center;
    color: white;
}
img {
    max-width: 20vw;
    max-height: 20vh;
}
body {
    font-size: 2vh;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
    color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
form {
    background-color: rgba(0, 0, 0, 0.75);
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 1em;
    margin: 0 auto;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input, select, textarea {
    display: block;
    width: 99%;
    min-height: 2em;
    background-color: rgba(0, 70, 0, 0.9);
    color: white;
    border-radius: 2px;
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
}
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 2em auto;
    height: 2em;
    font-size: 1.1rem;
    color: white;
}
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type {
    border-bottom: none;
}
legend {
    padding-top: 2em;
}
.audio {
    text-align: center;
    padding: 1em;
}
a {
    color: rgb(0, 120, 0);
}
a:hover {
    color: rgb(0, 200, 0);
}
a:active {
    color: rgb(0, 200, 0);
}